<ion-content>

    <div class="logo">
        <img src="assets/imgs/logorc.png" alt="RCLogo">
        <h3>RachaConta</h3>
      </div>

    <form [formGroup]="loginForm" novalidate>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.email" formControlName="email"></ion-input>
    </ion-item>
    <span *ngIf="errorEmail" class="error">{{messageEmail}}</span>
    <br/>

    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.senha" maxlength="10" formControlName="senha"></ion-input>
    </ion-item>
    <span *ngIf="errorSenha" class="error">{{messageSenha}}</span>
    <br/>

    <ion-row responsive-sm>
			<ion-col>
				<button ion-button (click)="validar(usuario)" block>Entrar</button>
			</ion-col>
    </ion-row>
    <ion-row responsive-sm>
    <ion-col id="cadastro">
      <a (click)="cadastrar()">Não tem conta? Cadastre-se!</a>
      <!--<button ion-button (click)="cadastrar()" color="light" block>Cadastrar</button>-->
    </ion-col>
    </ion-row>
    </form>
</ion-content>
