
<ion-header>

  <ion-navbar>
    <ion-title>Detalhamento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item class="nome">
    <h1>{{usuario.nome}}</h1>
  </ion-item>
    <ion-row responsive-sm padding class="nome">
      <ion-col>
        <h4>Consumo</h4>
      </ion-col>
      <ion-col>
        <h4>Preço</h4>
      </ion-col>
    </ion-row>
    <ion-row responsive-sm class="nome" *ngFor="let p of produtos">
        <ion-col>
          <p>{{ p.descricao }}</p>
        </ion-col>
        <ion-col *ngFor="let i of filter(p.integrantes) ">
          <p>{{ i.despesa | formatCurrency }}</p>
        </ion-col>
    </ion-row>
      
          <button ion-button color="danger" *ngIf="(usuario.id == idUsuarioLogado)"  (click)="calcularTotal()" block>
            Encerrar conta individual
          </button>

</ion-content>