<ion-header>
  <ion-navbar color="primary">
    <ion-title>Adicionar produto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input [(ngModel)]="produto.descricao" name="descricao" type="text" pattern="/^[a-zA-Z\s]*$/" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Preço</ion-label>
      <ion-input [(ngModel)]="produto.valor" name="valor" type="number"></ion-input>
    </ion-item>

    <div padding>
      <h3 id="label">Selecione os Integrantes que irão Compartilhar o Produto Item!</h3>
      <ion-list>

        <ion-item *ngFor="let i of mesa.integrantes">
          <ion-label *ngIf=" i.ativo ">{{ i.nome }}</ion-label>
          <ion-checkbox *ngIf=" i.ativo " (ionChange)="AtualizarLista($event,i)"></ion-checkbox>
        </ion-item>
     
      </ion-list>
    </div>

    <div padding>
      <button ion-button block type="submit" (click)="adicionarProduto()">Adicionar</button>
    </div>

  </form>
</ion-content>