
/*#formulario{
    background-image:url("../../assets/imgs/logorc.png"); 
}*/
.item{
    padding-right: 10px !important ;
    padding-left: 15px !important;   
}

.required{
    color: red !important;
}

#form{
    border:1px solid black;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.2);
}

